<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Tgl.Registrasi</th>
      <th>Data Pasien</th>
      <th>Layanan</th>
      <th>Vital Sign</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0 ; i < daftar.length; i++) { %>
        <tr>
          
          <td><%= moment(daftar[i].createAt).format('DD/MM/YYYY') %></td>
          <td><b>ID Pasien:</b> <i><%= daftar[i].pasien.idPasien %></i> 
              <br>
              <b>Nama: </b> <i><%= daftar[i].pasien.name %></i> 
              <br>
              <b>Usia:</b>  <i><%= daftar[i].usia %> Tahun</i> 
          </td>
          <td><%= daftar[i].layanan.name %></td>
          <td>Alergi: <%= daftar[i].alergi %>
              <br>
              Tensi Darah: <%= daftar[i].tensiDarah %>
          </td>
          <td>
            <form action="/daftar/status/<%= daftar[i]._id %>?_method=PUT" method="POST" method="POST">
              <% if(daftar[i].status === 'Y') { %>  
              <a href="/periksa/create/<%= daftar[i]._id %> " class="btn btn-warning btn-xs">
                <i class="fas fa-pencil-alt"></i>
                Proses</a>
                <button class="btn btn-xs">
                  <i class="fas fa-minus-circle"></i>
                </button>
                <%} else { %>
                  <a class="btn btn-success btn-xs">
                  Selesai</a>
                  <% } %>

            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>